<!--
    Template-driven form

    fields : 
    Fist Name: required.
    Last Name: required.a
    Phone Number: must be number with 10 or 11 digits.
    Submit button: only enable when all the required meet.

-->
<form #f="ngForm" (ngSubmit)="submit(f.value)">
    
    <div class="form-group">
        <label for="firstName">First Name</label>
        <input  required
        type="text" 
        id="firstName"
        class="form-control" 
        ngModel name="firstName" 
        #firstName="ngModel" >
        <div class="alert alert-danger" *ngIf="firstName.touched && firstName.invalid">
            First name is invalid!</div>
    </div>

    <div class="form-group">
        <label for="lastName">Last Name</label>
        <input  required
        type="text" 
        id="lastName"
        class="form-control" 
        ngModel name="lastName" 
        #lastName="ngModel"  >
        <div class="alert alert-danger" *ngIf="lastName.touched && lastName.invalid">
            Last name is invalid!</div>
    </div>

    <div class="form-group">
        <label for="phoneNumber">Phone Number</label>
        <input required
        type="text"
        id="phoneNumber" 
        class="form-control"
        ngModel name="phoneNumber"
        #phoneNumber="ngModel"
        minlength = "10"
        maxlength = "11"
        (change)="isDigits(phoneNumber.value)"
        >

        <div *ngIf="phoneNumber.touched && !isNum" class="alert alert-danger">
            Phone Number must be numbers only
        </div>

        <div *ngIf="phoneNumber.touched && phoneNumber.invalid" class="alert alert-danger">
            <div *ngIf="phoneNumber.errors?.required">
                Phone Number field is required.</div>
            <div *ngIf="phoneNumber.errors?.minlength">
                Phone Number field should be at least {{ phoneNumber.errors?.minlength.requiredLength }} characters.</div>
        </div>
        
        <div class="form-group" >
            <label >
                <input ngModel id="oneDayShipping" name="shippingType" type="radio" value="1"> 
                One-day Shipping
            </label>
            <br>
            <label>
                <input ngModel id="standardShipping" name="shippingType" type="radio" value="2">
                 Standard Shipping
            </label>
        </div>
        <p> {{f.value | json}}</p>
    </div>
    <button class="btn btn-primary" [disabled]="f.invalid" >Submit</button>
</form>